/* Colors */
$beige: #f3f3f3;
$orange: #e0592a;
$light-orange: #efab94;
$black: #32332b;
$grey: #5a5a5a;
$light-grey: #868290;

/* Fonts */
$big: 2em;
$large: 1.5em;
$medium: 1.25em;
$normal: 1em;
$small: 0.85em;

/* Miscellaneous */
$layout-width: 1024px;