@mixin flex ($dir, $justify, $align) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-center () {
  @include flex(
    row,
    center,
    center
  );
}

@mixin horizontal-spacing ($spacing) {
  margin-right: $spacing;
  &:last-child {
    margin-right: 0;
  }
}